<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/index.css">
    <title>M32 - 2026</title>
</head>
<body>
    <div class="container">

        <header class="main-infos">
            <div class="main-header">
                <p class="rubik-medium-font default-size year">2026</p>
                <h1 class="zen-dots-font x-title-size">Olá, somos a <span class="highlight-text">M32</span>!</h1>
                <p class="rubik-medium-font default-size subtitle">Aperte os cintos e decole com a gente nessa viagem!</p>
            </div>
            <div class="main-buttons">
                <button class="primary-button default-button" onclick="goto_donate()">Área de doações</button>
                <button class="secondary-button default-button" onclick="goto_sponsor()">Tornar-me patrocinador</button>
            </div>
        </header>

        <div class="sponsor-card card">
            <h2 class="title title-size">Nossos <span class="highlight-text">patrocinadores</span></h2>
            <div class="sponsor-display">
                <div class="sponsor">
                    <img src="images/partner.png" alt="logo de patrocinador" class="sponsor-logo">
                    <p class="rubik-semibold-font default-size">Lorem Ipsum</p>
                </div>
                <div class="sponsor">
                    <img src="images/partner.png" alt="logo de patrocinador" class="sponsor-logo">
                    <p class="rubik-semibold-font default-size">Lorem Ipsum</p>
                </div>
                <div class="sponsor">
                    <img src="images/partner.png" alt="logo de patrocinador" class="sponsor-logo">
                    <p class="rubik-semibold-font default-size">Lorem Ipsum</p>
                </div>
                <div class="sponsor">
                    <img src="images/partner.png" alt="logo de patrocinador" class="sponsor-logo">
                    <p class="rubik-semibold-font default-size">Lorem Ipsum</p>
                </div>
                <!-- <div class="sponsor">
                    <img src="images/partner.png" alt="logo de patrocinador" class="sponsor-logo">
                    <p class="rubik-semibold-font default-size">Lorem Ipsum</p>
                </div> -->
                <div class="sponsor">
                    <img src="images/partner.png" alt="logo de patrocinador" class="sponsor-logo">
                    <p class="rubik-semibold-font default-size">Lorem Ipsum</p>
                </div>
            </div>

        </div>

        <div class="donate-card card">
            <div class="donate-header">
                <h2 class="title title-size">Doe <span class="highlight-text">R$5,00</span>!</h2>
                <p class="detail-size rubik-medium-italic-font">Todo o dinheiro arrecadado será convertido em alimento</p>
            </div>
            <div class="donate-infos">
                <div class="copy-and-paste">
                    <div class="cpix"><p class="rubik-medium-italic-font detail-size">00020101021226870014br.gov.bcb.pix...</p></div>
                    <button class="copy-button"><img src="images/copy.png" alt="copiar código pix" class="copy-button-img"></button>
                </div>
                <img src="images/qr.png" alt="QRCode para pagamento pix" style="width: 205.48px; border-radius: 0.375rem;">
                <button class="primary-button default-button" onclick="goto_donate()">Quero doar mais</button>
            </div>
        </div>

        <footer class="footer">
            
        </footer>

        <div class="confirmed-copied-div">
            <p class="confirmed-copied-text rubik-semibold-font detail-size">Copiado!</p>
        </div>

    </div>
    <script defer src="script.js"></script>
</body>
</html>